body {
    margin: 0;
    font-size: 100%;
}

.wrapper {
    margin-top: 300px;
    text-align: center;
}
.foo {
    font-weight: 700;
    font-size: 4em;
}

.bar {
    background-color: steelblue;
    color: white;
}

#blinker{
    -webkit-animation: blink 1.2s step-end infinite;
    -moz-animation: blink 1.2s step-end infinite;
    animation: blink 1.2s step-end infinite;
}
@keyframes blink {
    from, to { opacity: 0; }
    50% { opacity: 1; }
}
@-webkit-keyframes blink {
    from, to { opacity: 0; }
    50% { opacity: 1; }
}
@-moz-keyframes blink {
    from, to { opacity: 0; }
    50% { opacity: 1; }
}
